<div class="container p-5 mat-elevation-z2">
  <div class="row">
    <div
    class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
    Cadastro de Agenda
      <h6>{{ tituloFormulario }}</h6>
      <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
        <div class="form-group">
          <label>Descrição</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="descricao"
          />
        </div>


        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Escolha uma data" formControlName="data">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- <div class="form-group">
          <label>Data</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="data"
          />
        </div> -->


        <div class="form-group">
          <label>Tipo</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="tipo"
          />
        </div>
        <div class="form-group">
          <label>FuncionarioId</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="funcionarioId"
          />
        </div>
        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-outline-secondary">
                Salvar
              </button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-sm btn-light">Voltar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
