<div class="header">
  <img src="https://drive.google.com/uc?id=14h9DNKY8p8nymdVl9ebT89Fb1Spgpis7" alt="Logo" class="logo">
  <h1>MarcenariaAPI</h1>
</div>


<!-- <div class="welcome">
  <p>Bem-vindo à MarcenariaAPI!</p>
</div> -->

<div class="app-container">
  <div class="sidebar">
    <h2>Classes</h2>
    <ul>
      <li><a routerLink="/agendas" routerLinkActive="active">Agendas</a></li>
      <li><a routerLink="/funcionarios" routerLinkActive="active">Funcionários</a></li>
      <!-- Adicione mais links conforme necessário -->
    </ul>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="card-container">
  <div class="card">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fblog.promob.com%2Fotimizar-as-4-tecnicas-de-marcenaria%2F&psig=AOvVaw19-vtqhQRVrjJtjtmFfP8v&ust=1700065094851000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMCrkpLyw4IDFQAAAAAdAAAAABAE" alt="Imagem da classe">
    <h3>Nome da Classe</h3>
    <p>Breve descrição da classe.</p>
  </div>
  Adicione mais cards conforme necessário
</div> -->
